<%- include('../../partials/header') %>

    <div class="bg-gray-900 w-full p-8  shadow-lg">
        <h1 class="text-3xl font-bold mb-6 text-brand-red border-b pb-4">Bilgi Bankası</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

            <!-- Kategori 1: Başlarken -->
            <div class="bg-brand-dark-100 p-6 rounded-lg scale-95 hover:scale-100 duration-500">
                <h2 class="text-xl font-bold text-red-500 mb-3">Başlarken</h2>
                <ul class="space-y-2">
                    <li><a href="#" class="text-white hover:text-red-500">İlk veritabanınızı nasıl
                            oluşturursunuz?</a></li>
                    <li><a href="#" class="text-white hover:text-red-500">Kontrol paneline genel bakış</a></li>
                    <li><a href="#" class="text-white hover:text-red-500">Güvenlik ayarları ve öneriler</a></li>
                </ul>
            </div>

            <!-- Kategori 2: Veritabanı Yönetimi -->
            <div class="bg-brand-dark-100 p-6 rounded-lg scale-95 hover:scale-100 duration-500">
                <h2 class="text-xl font-bold text-red-500 mb-3">Veritabanı Yönetimi</h2>
                <ul class="space-y-2">
                    <li><a href="#" class="text-white hover:text-red-500">Yedekleme ve geri yükleme işlemleri</a>
                    </li>
                    <li><a href="#" class="text-white hover:text-red-500">Kullanıcı yetkileri ve rolleri</a></li>
                    <li><a href="#" class="text-white hover:text-red-500">Performans optimizasyonu ipuçları</a></li>
                </ul>
            </div>

            <!-- Kategori 3: Faturalandırma -->
            <div class="bg-brand-dark-100 p-6 rounded-lg scale-95 hover:scale-100 duration-500">
                <h2 class="text-xl font-bold text-red-500 mb-3">Faturalandırma ve Ödemeler</h2>
                <ul class="space-y-2">
                    <li><a href="#" class="text-white hover:text-red-500">Faturanızı nasıl görüntüleyebilirsiniz?</a>
                    </li>
                    <li><a href="#" class="text-white hover:text-red-500">Otomatik ödeme talimatı verme</a></li>
                    <li><a href="#" class="text-white hover:text-red-500">Bakiye yükleme işlemleri</a></li>
                </ul>
            </div>

        </div>
    </div>

    <%- include('../../partials/footer') %>