<%- include('../../partials/header') %>
    <!--Özelliklerimiz Bölümü -->
    <div class="py-10 px-10 bg-brand-dark">
        <h2 class="text-3xl md:text-4xl font-bold text-center text-white " data-aos="fade-up">
            Çözümlerimiz
        </h2>
        <%- include("../../partials/urun-hizmetler") %>
    </div>
    <%- include("../../partials/footer") %>