<%- include('../../partials/header') %>

  <main class="min-h-screen w-full flex items-center justify-center bg-brand-dark py-1 px-4">
    <div class="w-full flex flex-col items-center justify-center gap-4 max-w-4xl bg-brand-dark rounded-xl">
      <!-- Üst Bilgi Alanı -->
      <section class="text-center flex flex-col items-center justify-center gap-4" data-aos="fade-up"
        data-aos-duration="800">

        <h1 class="text-3xl md:text-4xl font-bold text-white my-2">??? Veri tabanı nedir?</h1>
        <p class="text-lg text-gray-300 max-w-2xl mx-auto leading-relaxed">
          LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISICING ELIGENDI VOLUPTATES
          VOLUPTAS, CULPA DUCIMUS VOLUPTATUM EXPLICABO
          VOLUPTAS, CULPA DUCIMUS VOLUPTATUM EX
        </p>
        <a href="/urunler"
          class="btn btn-primary group bg-brand-red text-white font-bold py-4 px-10 text-lg shadow-lg hover:bg-red-700 transition">
          <span class="bg-overlay"></span>
          <span class="border-anim top"></span><span class="border-anim bottom"></span><span
            class="border-anim left"></span><span class="border-anim right"></span>
          <span class="text-content">Veri Tabanları</span>
        </a>

      </section>

      <!-- Kartlar -->
      <section class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8 " data-aos="fade-up" data-aos-duration="800">
        <% const cards=[ { title: "Başlık" ,
          desc: "Maecenas sit pretium, cras in. In quisque sem id eget. In vel gravida ut adipiscing integer felis. Id ac non arcu facilisi proin ultrices sed."
          }, { title: "Başlık" ,
          desc: "Maecenas sit pretium, cras in. In quisque sem id eget. In vel gravida ut adipiscing integer felis. Id ac non arcu facilisi proin ultrices sed."
          }, { title: "Başlık" ,
          desc: "Maecenas sit pretium, cras in. In quisque sem id eget. In vel gravida ut adipiscing integer felis. Id ac non arcu facilisi proin ultrices sed."
          }, { title: "Başlık" ,
          desc: "Maecenas sit pretium, cras in. In quisque sem id eget. In vel gravida ut adipiscing integer felis. Id ac non arcu facilisi proin ultrices sed."
          } ]; %>

          <% cards.forEach((item)=> { %>
            <div class="relative group bg-brand-dark-100 transition-all duration-700">


              <!-- İçerik -->
              <div class="relative z-20 p-6 rounded-lg  transition-colors">
                <div class="text-xl font-bold text-white mb-3">
                  <%= item.title %>
                </div>
                <p class="text-gray-400 leading-relaxed">
                  <%= item.desc %>
                </p>
              </div>
            </div>
            <% }) %>
      </section>
    </div>
  </main>

  <%- include('../../partials/footer') %>