<%- include('../../partials/header') %>

    <div class="bg-brand-dark p-6 w-full shadow-lg">
        <h1 class="text-3xl font-bold text-center mb-2 text-white">Ürün ve Hizmetlerimiz</h1>
        <p class="text-center text-white ">İhtiyaçlarınıza en uygun paketi seçin ve hemen kullanmaya başlayın.
        </p>



        <%- include("../../partials/urun-hizmetler") %>


    </div>

    <%- include('../../partials/footer') %>